<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="header">
    <div class="logo_img" >
        <a href="/main/"><img src="{% static 'img/zara.jpeg' %}" alt="Zara Logo"></a>
    </div>
    <div class="shop" style="bottom: 0px; left: 50%;">
        <h1 style="font-size: 50px; text-align: center">Мой магазин</h1>
    </div>
    <div class="phone_number">
        <p>our phone numbers</p>
        <p>+375(44)333-35-36</p>
        <p>+375(29)333-36-36</p>
        <p>+375(33)111-30-30</p>
    </div>

</div>
{% block content %}
<div class="navigate">
    <div style=" display:flex; gap:10px; ">
{% for store in stores %}
    <a href="{% url 'lichi' store.id %}" class="navigate_name">{{ store.name }}</a>
    {% endfor %}
    </div>

    <div>
        <button onclick="window.location.href='http://127.0.0.1:8000/main/add_product/';" class="add_product" type="button" >Add new product</button>
    </div>
</div>
<!--<div>-->
<!--    <button onclick="window.location.href='http://127.0.0.1:8000/main/register/';" class="registration" type="button" >Registration</button>-->
<!--</div>-->
<div>
    <button onclick="window.location.href='http://127.0.0.1:8000/main/auth/';" class="registration" type="button" >Login</button>
</div>
<div class="main">
    {% for product in products %}
    <a href="#" class="card_link">
    <div class='card'>
        <h3 class="card_title">{{ product.name }}</h3>
        <div class="card_img">
            {% if product.image %}
             <img src="{{ product.image.url }}" alt="">
            {% endif %}
        </div>
        <p>{{ product.price }}</p>
    <button class="card__content-button">Подробнее...</button>
    </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
<div class="logo_img_2">
    <img src="{% static 'img/zara_girls.jpeg' %}" alt="Zara Girls Logo">
</div>
</body>
</html>
