{% extends 'base.html' %}

{% block title %}Каталог товаров{% endblock %}

{% block content %}
<h1>Каталог товаров</h1>

<div class="products-grid">
    {% for product in products %}
    <div class="product-card">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <h3>{{ product.name }}</h3>
        <p class="price">{{ product.price }} ₽</p>
        <a href="/product/{{ product.id }}/" class="btn">Подробнее</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
со страницы base - {% load static %}


