{% extends 'base.html' %}
{% block back_button %}
    <a href="{% url 'home_page' %}" class="btn btn-secondary back-btn">← Назад</a>
{% endblock %}

{% block title %}Мои заказы{% endblock %}

{% block content %}
<h1 class="page-title">Мои заказы</h1>

{% if orders %}
<div class="orders-list">

    {% for order in orders %}
    <div class="order-card">
        <h3>Заказ №{{ order.id }}</h3>
        <p><strong>Дата:</strong> {{ order.created_at|date:"d.m.Y H:i" }}</p>
        <p><strong>Статус:</strong> {{ order.get_status_display }}</p>
        <p><strong>Сумма:</strong> {{ order.total_price }} ₽</p>

        <a href="{% url 'order_detail_page' order.id %}" class="btn btn-outline">Подробнее</a>

    </div>
    {% endfor %}

</div>

{% else %}
<p>У вас пока нет заказов</p>
{% endif %}

{% endblock %}
