{% extends 'base.html' %}
{% load static %}

{% block title %}Заказ №{{ order.id }}{% endblock %}

{% block content %}
<a href="{% url 'orders_page' %}" class="btn btn-secondary">← Назад</a>

<h1 class="page-title">Заказ №{{ order.id }}</h1>

<p><strong>Дата:</strong> {{ order.created_at }}</p>
<p><strong>Статус:</strong> {{ order.status }}</p>
<p><strong>Сумма:</strong> {{ order.total_price }} ₽</p>

<h2>Товары</h2>

<div class="products-grid">
    {% for item in items %}
        <div class="product-card">
            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
            <h3>{{ item.product.name }}</h3>
            <p>Количество: {{ item.quantity }}</p>
            <p>Цена: {{ item.product.price }} ₽</p>
        </div>
    {% endfor %}
</div>

<h2>Оплата</h2>

<div class="payment-block">
    <a href="{% url 'create_payment' order.id %}" class="btn btn-primary pay-btn">
        Оплатить через ЮKassa
    </a>

    <a href="{% url 'pay_by_card' order.id %}" class="btn btn-success pay-btn">
        Оплатить картой
    </a>

    <a href="{% url 'pay_cash' order.id %}" class="btn btn-secondary pay-btn">
        Оплатить наличными
    </a>
</div>


{% endblock %}
