<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="header">
    <div class="logo_img" >
        <img src="{% static 'img/zara.jpeg' %}" alt="Zara Logo">
    </div>
    <div class="shop" style="bottom: 0px; left: 50%;">
        <h1 style="font-size: 50px; text-align: center">Мой магазин</h1>
    </div>
    <div class="phone_number" style="width: 10%; height: 1px; background-color: black;
    position: center; left: 1350px;">
        <p>our phone numbers</p>
        <p>+375(44)333-35-36</p>
        <p>+375(29)333-36-36</p>
        <p>+375(33)111-30-30</p>
    </div>
</div>
<!--{% block content %}-->
<div class="navigate">

    {% for store in stores %}
    <a href="#" class="navigate_name">{{ store.name }}</a>
    {% endfor %}

</div>
<div class="main">
    {% for product in products %}
    <a href="#" class="card_link">
    <div class='card'>
        <h3 class="card_title">{{ product.name }}</h3>
        <div class="card_img">
            <img src="{{ product.image.url }}" alt="">
        </div>
        <p>{{ product.price }}</p>
    </div>
    </a>
    {% endfor %}
</div>
<!--{% endblock %}-->
<div class="logo_img_2">
    <img src="{% static 'img/zara_girls.jpeg' %}" alt="Zara Girls Logo">
</div>
</body>
</html>
